In [1]:
import pandas as pd

In [3]:
dict = {'name':['a', 'b', 'c'], 'price':[1,2,3]}
df = pd.DataFrame(dict)

In [5]:
df.head()

  name  price
0    a      1
1    b      2
2    c      3

In [7]:
df.columns = ['Naming', 'Pricing']

In [8]:
df.head()

  Naming  Pricing
0      a        1
1      b        2
2      c        3